/* Escribe acá tus estilos*/
*{
	font-family: 'Handlee', cursive;
}


#header {
width: 99%;
margin: 0px;
background: url(../img/maxresdefault.jpg) no-repeat;
}

#titulo{
	background-color: #ff4d4d;
	padding: 10px;
	font-size: 55px;
	margin: 0px;
	text-align: center;
	color: whitesmoke;
	font-family: 'Satisfy', cursive;

}

.bienvenida{
	display: inline-block;
	width: 100%;
	background: beige; 
	font-size: 16px;
	text-align: center;

}



#formulario{
  width: 300px;
  margin-left: 8px;
  position: center center;
}
